{% load static %}
<!doctype html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <title>{% block title %}IKOIA Careers{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>
  <body>

    <header class="topbar">
      <div class="brand">IKOIA</div>
      <nav class="nav">
        <a href="/">Careers</a>
        <a href="{% url 'staff_dashboard' %}">Staff Panel</a>
      </nav>
    </header>

    <main class="container">
      {% if messages %}
        {% for message in messages %}
          <div id="flash-message" class="flash-success">
            {{ message }}✅
          </div>
        {% endfor %}
      {% endif %}

  
      {% block content %}{% endblock %}
    </main>

  </body>
</html>
